ConsoleMenu/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PrimeNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="num" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrimeNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrimeNumberResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SumOfDigits">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="num" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SumOfDigitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SumOfDigitsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReverseString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReverseStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReverseStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintHTMLTAGs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintHTMLTAGsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrintHTMLTAGsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SortNumbers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SortNumbersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SortNumbersResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>